/*
* Prefixed by:
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* Custom Scrollbars */
/* width */
html::-webkit-scrollbar {
	width: 8px;
}
/* Handle */
html::-webkit-scrollbar-thumb {
	background-color: #009cea;
}
/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
	background-color: #007ab7;
}
/* Track */
html::-webkit-scrollbar-track {
	background: rgba(255 255 255 / 50%);
}
/* width */
textarea::-webkit-scrollbar,
.join-form-content .fields .step::-webkit-scrollbar {
	width: 6px;
}
/* Handle */
textarea::-webkit-scrollbar-thumb,
.join-form-content .fields .step::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 20px;
}
/* Track */
textarea::-webkit-scrollbar-track,
.join-form-content .fields .step::-webkit-scrollbar-track {
	border-radius: 2px;
	background: rgba(255 255 255 / 20%);
}
/* Custom Scrollbars */

body {
	font-family: "Open Sans", sans-serif;
	color: #444444;
}

body.hide-flow {
	overflow: hidden;
}

body.rtl {
	direction: rtl;
}

ul {
	list-style-type: none;
}

a {
	color: #009cea;
	text-decoration: none;
}

a:hover {
	color: #1eb4ff;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

::-webkit-input-placeholder {
	padding-left: 20px;
	font-size: 16px;
}

::-moz-placeholder {
	padding-left: 20px;
	font-size: 16px;
}

:-ms-input-placeholder {
	padding-left: 20px;
	font-size: 16px;
}

::-ms-input-placeholder {
	padding-left: 20px;
	font-size: 16px;
}

::placeholder {
	padding-left: 20px;
	font-size: 16px;
}

@font-face {
	font-family: "Poppins-ExtraBold";
	src: url(/assets/fonts/Poppins-ExtraBold.ttf) format("truetype");
	font-weight: bold;
}
.poppins-font {
	font-family: "Poppins", sans-serif;
}
.poppins-bold {
	font-family: "Poppins-ExtraBold";
}
.border-circle {
	border-radius: 1000px;
}
.color-blue {
	color: #4b97d2;
}
.border-blue {
	border: 1px solid #4898d3;
	background-color: transparent;
	padding: 5px;
	font-family: "Poppins", sans-serif;
}

/* ------------------ */
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	z-index: 997;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	background: transparent;
	background: #001d3d;
}

#header .logo {
	margin-right: unset !important;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-margin-end: auto;
	margin-inline-end: auto;
}

#header .logo svg {
	width: 100px;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
	margin: 0 0 0 30px;
}

@media (max-width: 768px) {
	.header-social-links {
		margin: 0 15px 0 0;
	}
}

.header-social-links a {
	color: white;
	display: inline-block;
	line-height: 0px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding-left: 10px;
}

.header-social-links a:hover {
	color: #009cea;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar a,
.navbar a:focus {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 10px 0 10px 30px;
	padding: 10px 0 10px 22px;
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	color: white;
	white-space: nowrap;
	cursor: pointer;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
	color: #009cea;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: -70%;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	-webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	color: #003651;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
	color: #009cea;
}

.navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}

	.navbar .dropdown .dropdown:hover > ul {
		left: -100%;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: white;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	display: block;
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(32, 38, 41, 0.9);
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
	padding: 10px 20px;
	font-size: 15px;
	color: #364146;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
	color: #009cea;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	-webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
	color: #009cea;
}

.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}
/* ------------------ */

.team .container {
	padding-top: 140px;
	position: relative;
	z-index: 10;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
	font-family: "Poppins", sans-serif;
}

.section-title h2 {
	margin-bottom: 20px;
	padding-bottom: 0;
	font-family: "Poppins", sans-serif;
	color: #000;
	font-size: 50px;
	font-weight: bold;
}

.section-title p {
	color: #000;
}

.team .member {
	margin-bottom: 80px;
	position: relative;
}

.team .member .pic {
	overflow: hidden;
	width: 100%;
	height: 400px;
	margin: 0 auto;
	border-radius: 6px;
	-webkit-box-shadow: 3px 6px 10px 2px #0d6efd30;
	box-shadow: 3px 6px 10px 2px #0d6efd30;
	-webkit-box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
	box-shadow: 0px 2px 15px rgb(0 0 0 / 20%);
}

.team .member .pic .img-fluid {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.team .member .member-info {
	background: #fff;
	padding: 60px 20px 20px;
	color: #364146;
	-webkit-box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
	/* min-height: 415px; */
	width: 90%;
	margin: 0 auto;
	margin-top: -50px;
	position: relative;
	z-index: 20;
}
.team .member .member-info.edits {
	overflow: hidden;
	height: 96px;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.team .member .member-info.show {
	height: 5400px;
}
.member-info p {
	margin-bottom: 5px;
	padding-left: 10px;
}
.member a {
	display: block;
}
.member .modify-btn,
.member .save {
	background-color: transparent;
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 20px;
	padding: 0px 5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.member .timestamp {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #001d3d;
	color: white;
	padding: 6px 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	font-size: 13px;
}

.member .save {
	right: 50px;
}

p.coach-answer,
span.coach-answer {
	background: #aeaeae24;
	padding: 8px;
	border-radius: 5px;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

.member span.coach-answer.edit {
	display: block;
}

.member .coach-answer.edit {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background-color: #eee;
	border-radius: 5px;
	margin: 16px 0;
	padding: 15px;
}

.member .links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 10px;
	margin: 12px 0;
}
.member .social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 5px;
}
.member .social a {
	font-size: 20px;
	margin-inline: 10px;
}
.member .approve-btn,
.member .not-approve-btn,
.delete-btn {
	display: block;
	padding: 6px 12px;
	border-radius: 4px;
	background-color: #222;
	color: white;
	margin: 15px auto 0px;
	font-size: 13px;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.member .approve-btn:hover {
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background-color: #000;
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
}
.delete-btn {
	background: red;
	top: 0;
	right: 10px;
	position: absolute;
	border-radius: 25px;
	border: 2px solid white;
}
.member #tags-container {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
}
.member #tags-container .tag {
	background-color: #147fedeb;
	color: white;
	font-size: 13px;
	border-radius: 4px;
	padding: 4px 12px;
}
.member .video-tag {
	width: 100%;
	height: 220px;
	border: 4px solid #EEE;
	border-radius: 4px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	overflow: hidden;
}
.member .video-tag video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* .member .coach-answer. */
